<h1>This is TinyApp.  Welcome to TinyApp.</h1>

<form method="POST" action="/login">
  Currently signed in as <%= username%>:
  <input type='text' name='username' />
  <input type='submit' value='SIGN IN' />
</form>