<h1>This is TinyApp.</h1>

<% if(loggedAs) { %>
  Signed in as <%= loggedAs%>
  <form method="POST" action="/logout">
    <br>
    <input type='submit' value='LOGOUT' />
  </form>

<% } else { %>

  <form method="GET" action="/login">
    <input type='submit' value='CLICK ME TO LOGIN' />
  </form>

  <form method="GET" action="/register">
    <br>
    <input type='submit' value='OR, CLICK ME TO REGISTER' />
  </form>

<% } %>





