<% if(loggedAsEmail) { %>

<h1>Logged into TinyApp as: <br>[ <%= loggedAsEmail %> ]</h1>
  <form method="POST" action="/logout">
    <input type='submit' value='LOGOUT' />
  </form>

<% } else { %>

<h1>Please login or register with TinyApp.</h1>
  <form method="GET" action="/login">
    <input type='submit' value='LOGIN' />
  </form>
<br>
  <form method="GET" action="/register">
    <input type='submit' value='REGISTER' />
  </form>

<% } %>





