<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:16px; padding:30px;">
  <header>
    <% include ../partials/_header %>
  </header>

  <% if(loggedAsEmail) { %>
  <form method="POST" action=<%= '/urls/' + shortURL + '/update?_method=PUT'%>>
    <br>
    Change the URL that [<%= shortURL%>] leads to:
    <br>
      <input type='text' name='inputURL' placeholder="http://" style="width: 300px" />
      <input type='submit' value='UPDATE'/>
  </form>
  <% } else { %>
  <br>
  You need to be logged in to edit URLs!
  <% } %>
</body>
</html>