<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ../partials/_header %>
  </header>

  <ul>
      <li><%= shortURL%>: <%= urls[shortURL]%></li>
  </ul>

  <form method="POST" action=<%= '/urls/' + urls[shortURL] + '/update'%>>
    Input full URL to update its short URL...
    <br>
      <input type='text' value='<input URL here>' />
      <input type='submit' value='UPDATE' />
  </form>
</body>
</html>