<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <form method="POST" action=<%= '/urls/' + shortURL + '/update'%>>
    ShortURL: <%= shortURL%>
    <br>
      <input type='text' name='inputURL'/>
      <input type='submit' value='UPDATE'/>
  </form>
</body>
</html>