<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <form method='POST' action='/register'>
    Fill in the stuff below to register with TinyApp!
    <br>
    <br>
      Your email:
      <input type='email' name='email'/>
      Set a password:
      <input type='password' name='password'/>
      <input type='submit' value='SIGN UP'/>
  </form>
</body>
</html>