<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:16px; padding:30px;">
  <header>
    <% include ../partials/_header %>
  </header>

<% if(loggedAsEmail) { %>


  <% if(Object.keys(urls).length === 0) {%>

    <h2>You have no shortURLs!</h2>

  <% } else { %>

    <h2>Your shortURLs:</h2>

    <% for (var url in urls) { %>

      <%= url%> → <%= urls[url] %>
        <form method='GET' action=<%= '/urls/' + url + '/update'%>>
          <input type='submit' value='EDIT' align='right'/>
        </form>
        <form method='POST' action=<%= '/urls/' + url + '/delete?_method=DELETE'%>>
          <input type='submit' value='DELETE' align='right'/>
        </form>
      <br>

    <% } %>

  <% } %>

    <form method='GET' action='/urls/new'>
        <input type='submit' value='GENERATE NEW SHORTURL'>
    </form>

<% } %>

</body>
</html>