<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:16px; padding:30px;">
  <form method='POST' action='/register'>
    <h1>Registering with TinyApp...</h1>

    Your email:
      <input type='email' name='email'/>

    <br><br>
    Set a password:
      <input type='password' name='password'/>

    <br><br>
      <input type='submit' value='SIGN UP'/>

  </form>
</body>
</html>