<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:16px; padding:30px;">

  <h1>Logging into TinyApp...</h1>
    <form method='POST' action='/login'>
        Your email:
        <input type='email' name='email'/>
        <br><br>
        Your password:
        <input type='password' name='password'/>
        <br><br>
        <input type='submit' value='LOGIN'/>
    </form>

</body>
</html>